body {
  min-height: 100vh;
  margin: 0;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}

* {
  box-sizing: content-box;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  border: 3px solid currentColor;
  padding: 0.5em 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
